.dashboard-container {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.dash-card {
  width: 250px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.dash-card:hover {
  background: #e8eaff;
}
